:root {
    --Primary : #0D484F;
    --Secondary: #F5D57E;
    --Dark: #0E0E0E;
    --HS: #ecc760;
    --F: #086F7B;
}

/* 
.flatpickr-calendar {
    background-color: transparent;
    width: 100%;
}
.flatpickr-weekdaycontainer span{
    text-align: center;
    color: #ecc760;
}
.flatpickr-weekdaycontainer{
    display: flex;
}
.flatpickr-current-month {
    color: var(--HS);
    font-weight: 900;
}
.flatpickr-monthDropdown-month,
.flatpickr-monthDropdown-months option{
    background-color: var(--Primary);
}
.flatpickr-calendar span {
    color: white;
    font-weight: 900;
    outline: 0;
    box-shadow: none;
}

.flatpickr-day, .nextMonthDay{
    color: blue;
}

.flatpickr-calendar span:hover {
    background-color: var(--Secondary);
    color: var(--Primary);
} */